<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Sorting</span>
  
      <span class="options"></span>
      
      
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="row">
      <div class="col-md-6" style="padding-top:40px;margin-left: 60px;">
      <a href="sort" class="dropdown-toggle" data-toggle="dropdown">
          <i class="material-icons">swap_vertical_circle</i>
          <p>Sort Number</p>
      </a>
     </div>
</div>
<router-outlet></router-outlet>

